= image_tag 'logo.png', id: 'header', alt: 'danger/u/', class: 'header-unbound'

#index-news
  %span.comment Latest news:
  %span.redtext 18/02/22: Song-chan's in trouble! If you can spare it, please help: https://dangeru.us/u/thread/828545

%br/

#maincontainer
  #index-boards
