$redtext: #ed145b;

@font-face {
  font-family: 'CyberpunkWaifus';
  font-style: normal;
  font-weight: normal;
  src: font-url('cyberwaifus.woff') format('woff');
}

body {
  background-color: #000;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
  width: 100%;
}

a {
  color: #fff;
  display: block;
  font-family: 'CyberpunkWaifus';
  font-size: 20px;
  text-align: center;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.boarda {
  color: #fff;
  font-family: 'CyberpunkWaifus';
  font-size: 17px;
  text-align: left;
}

.boardcontainer-item {
  color: #fff;
  font-family: 'CyberpunkWaifus';
  font-size: 17px;
  text-align: center;
}

.boardb {
  text-align: right;
}

#newthread {
  color: #fff;
  display: block;
  font-family: 'CyberpunkWaifus';
  font-size: 30px;
  text-align: center;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.redtext {
  color: $redtext;
  font-family: 'CyberpunkWaifus';
  font-size: 18px;
  word-wrap: break-word;
}

div {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#sitecorner {
  border: 2px solid #fff;
  border-radius: 25px;
  height: auto;
  padding: 20px;
  width: 395px;
}

#maincontainer {
  border: 2px solid #fff;
  border-radius: 25px;
  height: auto;
  margin: 0 auto;
  max-width: 568px;
  padding: 20px;
  position: relative;
  width: 100vw;
}

textarea,
#draggable > form > input[type=text],
.text_input {
  background-color: #262626;
  border: none;
  border-radius: 4px;
  color: #fff;
  resize: none;
}

#title,
.title {
  color: #fff;
  font-family: 'CyberpunkWaifus';
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 15px;
}

.comment,
.comment-styled {
  color: #fff;
  font-family: 'CyberpunkWaifus';
  font-size: 18px;
  word-wrap: break-word;
}

#boardtitle {
  color: #fff;
  font-family: 'CyberpunkWaifus';
  font-size: 19px;
  text-align: center;
}

#boardcontainer {
  text-align: center;
}

#boardid {
  display: inline;
}

.pagecount {
  display: inline;
  font-size: smaller;
}

#pagecount_container {
  text-align: center;
}

#modlogo {
  max-width: 395px;
  width: auto;
}

#container_login {
  text-align: center;
}

input[type=submit] {
  margin-top: 3px;
}

// Moderator ban tools

.fa {
  color: #fff;

  &:hover {
    text-decoration: underline;
  }
}

// Awoo version string at the bottom of each page
small {
  color: white;
}

// To offset the lock, unlock, and delete buttons from the
// thread title
.fa-unlock-alt,
.fa-lock,
.offset-left {
  margin-left: 6px;
}

input,
textarea {
  font-size: 16px;
}

.burg {
  width: 50%;
}

.sticky-1 {
  color: #006400;
}

.sticky-2 {
  color: #faa757;
}

.sticky-3 {
  color: #ff8080;
}

.sticky-4 {
  color: #4891d9;
}

.sticky-5 {
  color: #cc2e2d;
}

.sticky-6 {
  color: #9900ff;
}

.sticky-7 {
  color: #db9863;
}

.sticky-8 {
  color: #6e4b2a;
}

.locked {
  color: #7a7a7a;
}

// Styling
.button_styled {
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'CyberpunkWaifus';
  padding: 4px;
}

.special_styled {
  background-color: #000;
  border: 1px solid $redtext;
  color: #fff;
  font-family: 'CyberpunkWaifus';
  padding: 4px;
}

// pre tag for rules
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

// New board selector style
hr {
  border: none;
  border-top: 1px solid #343434;
  box-shadow: none;
  height: 5px;
}

// Mobile beautifier
@media only screen and (max-width: 479px) {
  #maincontainer {
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  #sitecorner {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  img {
    height: auto;
    width: 100%;
  }
}

#header {
  height: 130px;
}

.header-unbound {
  width: 395px;
}

#maincontainer {
  color: #fff;
  overflow: hidden;
  padding: 10px;
}

.red {
  color: $redtext;
}

footer,
.footer {
  font-size: xx-small !important;
  text-align: center;
}

a.footer {
  display: inline-block;
}

#submit {
  float: right;
  height: 20px;
  line-height: 0;
}

.all_extra_board {
  color: #808080;
}

#index-news {
  text-align: center;
}

#index-boards {
  columns: 2;
  line-height: 1.5;
  margin: 20px;
}

.boarda-margin {
  margin: 20px;
}

.a-like:hover {
  text-decoration: underline;
}

.search-form {
  line-height: 1.2;
}

.autogenerated-link {
  display: inline-block;
  font-size: 18px;
  text-align: left;
  word-break: break-all;
}

.center {
  text-align: center;
}

.thread-metadata {
  font-size: 11px;
}

.thread-lock {
  display: block !important;
  text-align: center;
}

.referencer {
  display: inline-block;
}

.spoiler {
  border-bottom: 1px solid #333;
  color: #000;

  &:hover {
    border-bottom: 1px solid #eee;
    color: #fff;
  }
}

.redtext > .spoiler {
  border-bottom: 1px solid #401;

  &:hover {
    border-bottom: 1px solid $redtext;
    color: $redtext;
  }
}

#thread_watcher {
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'CyberpunkWaifus';
  padding-bottom: 10px;
  padding-top: 10px;
  position: fixed;
  right: 50px;
  top: 50px;
  z-index: 440;
}

.thread_watcher_padding {
  padding-left: 10px;
  padding-right: 10px;
}

#thread_watcher_box > div {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  padding-left: 10px;
  padding-right: 10px;
}

.thread_watcher_new {
  color: $redtext;
}

.rewire {
  display: inline-block;
  font-size: x-small;
}

.inline-block {
  display: inline-block;
}

.hidden {
  display: none;
}

.align-center {
  text-align: center;
}
