%footer.comment
  affiliated with
  = link_to 're:wire', 'https://re.wire.zone', class: 'rewire', target: '_blank'
  &middot;
  = link_to "Awoo #{current_revision_short}", 'https://github.com/lunaisnotaboy/awoo', class: 'footer', target: '_blank'
